<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8KMoH3vYj1qx-xCeGkfmk0mp_aWAVW5c</string>
	<key>GCM_SENDER_ID</key>
	<string>351391740162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>knb.Boxx</string>
	<key>PROJECT_ID</key>
	<string>newboc-ae213</string>
	<key>STORAGE_BUCKET</key>
	<string>newboc-ae213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:351391740162:ios:5344dca140f3cffc3b921b</string>
</dict>
</plist>
